@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
    --bs-font: 'Roboto Slab', serif;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #7A7A7A;
}

header {
    position: absolute;
    top: 70px;
    left: 160px;
    width: 1200px;
    height: 130px;
    background-color: #585858;
    border-radius: 10px;
    line-height: 130px;
}

nav.abajo {
    position: fixed;
    background: #9AD1BF;
}

nav.abajo a {
    color: #ffffff;
}

nav.abajo a:hover {
    color: #585858;
}

nav {
    position: absolute;
    top: 10px;
    left: 160px;
    height: 50px;
    width: 1200px;
    background-color: #585858;
    border-radius: 10px;
    z-index: 5;
}

#nvBarra ul {
    list-style-type: none;
    text-align: center;
}

#nvBarra li {
    position: relative;
    top: 7px;
    display: inline;
    text-align: center;
    margin: 0px 15px 0 0;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-family: var(--bs-font);
    font-size: 25px;
}

a:hover {
    color: #8fdee7;
}

h1 {
    position: relative;
    color: #FFFFFF;
    font-family: var(--bs-font);
    font-size: 100px;
    text-align: center;
}

.sctCuerpo {
    position: absolute;
    bottom: -100px;
    left: 10px;
    width: 1500px;
    background-color: #585858;
    transform: scale(80%);
}

#sctCuerpoIndex {
    top: 100px;
    height: 1100px;
}

.sctTextIndex {
    position: absolute;
    left: 400px;
    background-color: #FFFAE2;
    border-radius: 10px;
    width: 1050px;
}

#sctTextIndexParaQueLeer {
    top: 50px;
    height: 475px;
}

#sctTextIndexProposito {
    top: 550px;
    height: 350px;
}

.pTituloIndex {
    position: absolute;
    top: 35px;
    left: 50px;
    color: #585858;
    font-family: var(--bs-font);
    font-size: 30px;
    line-height: 39px;
    text-align: left;
}

.pContenidoIndex {
    position: absolute;
    top: 105px;
    left: 50px;
    margin-right: 50px;
    color: #585858;
    font-family: var(--bs-font);
    font-size: 20px;
    line-height: 28px;
    text-align: left;
}

.pContenidoIndex a {
    font-size: 20px;
    color: #1e1e1e;
}

.sctButtonIndex {
    position: absolute;
    left: 50px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    cursor: pointer;
}

#sctButtonIndexLibros {
    top: 50px;
    background-color: #FFC6F0;
}

#sctButtonIndexLibros:hover {
    background-color: #FFC6F055;
}

#sctButtonIndexLibros:active {
    background-color: #ffe877;
}

#sctButtonIndexAutores {
    top: 400px;
    background-color: #FFC29F;
}

#sctButtonIndexAutores:hover {
    background-color: #FFC29F55;
}

#sctButtonIndexAutores:active {
    background-color: #ffe877;
}

#sctButtonIndexGeneros {
    top: 750px;
    background-color: #97DEB7;
}

#sctButtonIndexGeneros:hover {
    background-color: #97deb755;
}

#sctButtonIndexGeneros:active {
    background-color: #ffe877;
}

.sctButtonIndexImg {
    position: relative;
    top: 29px;
    left: 64px;
    width: 174px;
    height: 174px;
}

.lnkSctButtonIndex {
    position: absolute;
    left: 0px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    z-index: 2;
}

.btnIndex {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #FFFFFF;
    border: 2px solid #585858;
    border-radius: 5px;
    width: 296px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #585858;
    font-family: var(--bs-font);
    font-size: 25px;
}

.sctContactanos {
    position: absolute;
    background-color: #ACD1E5;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    color: #585858;
    font-family: var(--bs-font);
    font-size: 25px;
    text-decoration: underline;
}

#sctContactanosIndex {
    top: 950px;
    left: 400px;
    width: 1050px;
    height: 100px;
}

#sctCuerpoIngresar {
    top: 100px;
    height: 1100px;
}

#pIngresarTitulo {
    position: absolute;
    top: 105px;
    left: 496px;
    color: #FFFFFF;
    font-family: var(--bs-font);
    font-size: 35px;
    line-height: 45px;
    text-align: left;
}

#sctContactanosIngresar {
    top: 955px;
    left: 50px;
    width: 1400px;
    height: 100px;
}

.triangulo {
    position: absolute;
    bottom: 115px;
    left: 730px;
    width: 0;
    height: 0;
    border-top: 30px solid #FFFFFF;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    z-index: 2;
}

.bocadillo {
    position: absolute;
    bottom: 135px;
    left: 595px;
    background-color: #FFFFFF;
    border: 2px solid #C0CCDA;
    border-radius: 10px;
    width: 280px;
    height: 55px;
    padding: 10px;
    color: #585858;
    font-family: var(--bs-font);
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    z-index: 2;
}

#trianguloIndex {
    left: 906px;
}

#bocadilloIndex {
    left: 772px;
}

#sctIngresarDatos {
    position: absolute;
    top: 205px;
    left: 227px;
    background-color: #FFFAE2;
    border-radius: 10px;
    width: 1050px;
    height: 230px;
}

input {
    position: absolute;
    left: 300px;
    background-color: #FFFFFF;
    border: 1px solid #8492A6;
    border-radius: 5px;
    width: 500px;
    height: 60px;
    font-family: var(--bs-font);
    color: #585858;
    font-size: 25px;
    line-height: 60px;
    width: 436px;
    text-align: center;
}

#nptUsuario {
    top: 30px;
}

#nptContrasena {
    top: 140px;
}

.sctIngresar {
    position: absolute;
    top: 485px;
    border-radius: 10px;
    width: 500px;
    height: 210px;
}

#sctIngresarIngresar {
    background-color: #C4C1E6;
    left: 227px;
}

#sctIngresarRegistrarse {
    background-color: #F9D7F0;
    left: 777px;
}

#btnIngresar {
    top: 55px;
    left: 30px;
    cursor: pointer;
}

#btnIngresar:hover {
    background-color: #FFFFFF55;
}

#btnIngresar:active {
    background-color: #ffe877;
}

#btnRegistrarse {
    top: 55px;
    left: 32px;
    cursor: pointer;
}

#btnRegistrarse:hover {
    background-color: #FFFFFF55;
}

#btnRegistrarse:active {
    background-color: #ffe877;
}

#aIngresarOlvidasteTuContrasena {
    position: relative;
    top: 140px;
    left: 90px;
    color: #585858;
    font-family: var(--bs-font);
    font-size: 25px;
    line-height: 32px;
    text-align: left;
    text-decoration: underline;
}

#aIngresarOlvidasteTuContrasena:hover {
    color: #03a0b1;
}

#pIngresarUnete {
    position: relative;
    top: 140px;
    left: 0px;
    color: #585858;
    font-family: var(--bs-font);
    font-size: 25px;
    line-height: 32px;
    text-align: center;
}

#sctCuerpoCambiarContrasena {
    top: 72px;
    height: 1380px;
}

#sctContactanosCambiarContrasena {
    top: 1215px;
    left: 50px;
    width: 1400px;
    height: 100px;
}

#pCambiarContrasenaTitulo {
    position: absolute;
    top: 105px;
    left: 561px;
    color: #FFFFFF;
    font-family: var(--bs-font);
    font-size: 35px;
    line-height: 45px;
    text-align: left;
}

#sctCambiarContrasenaCodigo {
    position: absolute;
    top: 485px;
    left: 227px;
    background-color: #FAC5F7;
    border-radius: 10px;
    width: 1050px;
    height: 230px;
}

#sctButtonCambiarContrasenaGuardar {
    top: 765px;
    left: 500px;
    background-color: #F0BA9C;
}

#btnCambiarContrasenaGuardar {
    top: 75px;
    left: 30px;
    cursor: pointer;
}

#btnCambiarContrasenaGuardar:hover {
    background-color: #FFFFFF55;
}

#btnCambiarContrasenaGuardar:active {
    background-color: #ffe877;
}

#nptCodigoIngresado {
    top: 127px;
}

#pCambiarContrasenaCodigoAleatorio {
    position: absolute;
    top: 55px;
    left: 405px;
    color: #585858;
    font-family: var(--bs-font);
    font-size: 30px;
    line-height: 39px;
    text-align: left;
}

#sctCuerpoLibros {
    top: -75px;
    height: 2850px;
}

.sctBuscar {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #C0A4E6;
    border-radius: 10px;
    width: 1400px;
    height: 120px;
}

#pBuscar {
    position: relative;
    left: 50px;
    color: #585858;
    font-family: var(--bs-font);
    font-size: 30px;
    line-height: 120px;
    text-align: left;
}

.nptBuscar {
    top: 30px;
    left: 209px;
    width: 841px;
}

.btnBuscar {
    top: 30px;
    left: 1101px;
    width: 249px;
}

.btnBuscar:hover {
    background-color: #FFFFFF55;
    cursor: pointer;
}

.btnBuscar:active {
    background-color: #ffe877;
}

#sctContactanosLibros {
    top: 2700px;
    left: 50px;
    width: 1400px;
    height: 100px;
}

#sctCuerpoAutores {
    top: -75px;
    height: 2850px;
}

#sctContactanosAutores {
    top: 2700px;
    left: 50px;
    width: 1400px;
    height: 100px;
}

#sctCuerpoGeneros {
    top: -135px;
    height: 3450px;
}

#sctContactanosGeneros {
    top: 3300px;
    left: 50px;
    width: 1400px;
    height: 100px;
}

.sctCuerpoGenerosGenero {
    position: absolute;
    left: 50px;
    border-radius: 10px;
    width: 1400px;
    height: 600px;
}

#sctCuerpoGenerosGeneroTerror {
    top: 50px;
    background-color: #C4C4C4;
}

#sctCuerpoGenerosGeneroCienciaFiccion {
    top: 700px;
    background-color: #A0D1E5;
}

#sctCuerpoGenerosGeneroFantasia {
    top: 1350px;
    background-color: #a99dcc;
}

#sctCuerpoGenerosGeneroLiteraturaJuvenil {
    top: 2000px;
    background-color: #c4889d;
}

#sctCuerpoGenerosGeneroLiteraturaInfantil {
    top: 2650px;
    background-color: #9add84;
}

.sctCuerpoGenerosGeneroTitulo {
    position: relative;
    top: 50px;
    left: 50px;
    color: #585858;
    font-family: var(--bs-font);
    font-size: 40px;
    line-height: 52px;
    text-align: left;
}

.sliderContainer {
    position: absolute;
    top: 147px;
    left: 0px;
    width: 1400px;
    height: 402px;
}

.sliderLibros {
    box-sizing: border-box;
    padding: 2px;
    display: flex;
    width: 1400x;
    height: 401px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.sctLibro {
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 10px;
    min-width: 300px;
    min-height: 400px;
    max-width: 300px;
    max-height: 400px;
    cursor: pointer;
}

.sctLibro:hover {
    background-color: #68666666;
}

.sctLibro:active {
    background-color: #ffe877;
}

.sctLibroTerror {
    background-color: #888686;
}

.sctLibroCienciaFiccion {
    background-color: #739aa9;
}

.sctLibroFantasia {
    background-color: #8d82ad;
}

.sctLibroLiteraturaJuvenil {
    background-color: #edbfcf;
}

.sctLibroLiteraturaInfantil {
    background-color: #b2ff98;
}

.sctLibroLibros {
    background-color: #FFC8A9;
}

.imgPrevio {
    position: absolute;
    top: 160px;
    left: 5px;
    width: 50px;
    height: 50px;
    z-index: 2;
    cursor: pointer;
    object-fit: contain;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.803);
}

.imgPrevio:hover {
    background-color: #d9d9d9bc;
    cursor: pointer;
}

.imgPrevio:active {
    background-color: #ffe877;
}

.imgSiguiente {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 160px;
    right: 5px;
    z-index: 2;
    cursor: pointer;
    object-fit: contain;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.803);
}

.imgSiguiente:hover {
    background-color: #d9d9d9bc;
    cursor: pointer;
}

.imgSiguiente:active {
    background-color: #ffe877;
}

.sctLibroTitulo {
    position: relative;
    top: 60px;
    left: auto;
    margin-left: 10px;
    margin-right: 10px;
    color: #47525E;
    font-family: var(--bs-font);
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    text-decoration: underline;
}

.portada {
    position: relative;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 248px;
}

.portadaPrincipal {
    width: 250px;
    height: 320px;
}

#sliderContainerLibros {
    border-radius: 10px;
    background-color: #FFFAE2;
    top: 220px;
    left: 50px;
    height: 450px;
}

#sliderLibrosLibros {
    height: 425px;
    margin-top: 25px;
}

#imgPrevioLibros {
    top: 215px;
}

#imgSiguienteLibros {
    top: 215px;
}

.sctInformacion {
    position: absolute;
    top: 720px;
    left: 50px;
    background-color: #FFFAE2;
    border-radius: 10px;
    width: 1400px;
    height: 800px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sctInformacionTitulo {
    position: relative;
    top: -260px;
    left: 350px;
    color: #585858;
    font-family: var(--bs-font);
    font-size: 30px;
    line-height: 39px;
    font-weight: 600;
}

.sctInformacionSubtitulo {
    position: relative;
    left: 50px;
    color: #585858;
    font-family: var(--bs-font);
    font-size: 25px;
    line-height: 32px;
    text-align: left;
    font-weight: 600;
}

.sctInformacionSubtituloSinopsis {
    margin-top: -150px;
}

.sctInformacionSubtituloOpinion {
    margin-top: 20px;
}

.sctInformacionTextoOpinion {
    margin-bottom: 50px;
}

.sctInformacionA {
    position: relative;
    top: -250px;
    left: 350px;
    color: #585858;
    font-family: var(--bs-font);
    font-size: 25px;
    line-height: 32px;
    text-align: left;
    text-decoration: underline;
}

.sctInformacionTexto {
    position: relative;
    margin-top: 10px;
    left: 50px;
    color: #585858;
    font-family: var(--bs-font);
    font-size: 25px;
    line-height: 32px;
    text-align: left;
    width: 1300px;
}

.sctInformacionTextoPrincipal {
    top: -230px;
    left: 350px;
}

.sctOpiniones {
    position: absolute;
    top: 720px;
    left: 50px;
    background-color: #FFFAE2;
    border-radius: 10px;
    width: 1400px;
    height: 750px;
}

.sctAgregarOpinion {
    position: absolute;
    top: 2250px;
    left: 50px;
    background-color: #FFFAE2;
    border-radius: 10px;
    width: 1400px;
    height: 400px;
}

.sctOpiniones {
    position: absolute;
    top: 1570px;
    left: 50px;
    background-color: #FFC8A9;
    border-radius: 10px;
    width: 1400px;
    height: 630px;
}

.sctOpinionesContenedor {
    display: block;
    width: 1400px;
    height: 630px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.sctOpinion {
    display: flex;
    margin-bottom: 50px;
    margin-left: 50px;
    background-color: #FFFAE2;
    border-radius: 10px;
    width: 1300px;
    height: 300px;
}

.sctOpinionesTitulo {
    position: relative;
    height: 35px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: #585858;
    background-color: #FFC8A9;
    font-family: var(--bs-font);
    font-size: 35px;
    line-height: 45px;
    text-align: left;
}

.puntuacion {
    position: relative;
    top: 50px;
    left: 50px;
    color: #585858;
    font-family: var(--bs-font);
    font-size: 25px;
    font-style: italic;
    line-height: 32px;
    text-align: left;
    width: 1200px;
}

.opinion {
    position: relative;
    top: 110px;
    left: -1150px;
    color: #585858;
    font-family: var(--bs-font);
    font-size: 25px;
    line-height: 28px;
    text-align: left;
    width: 1200px;
}

.opinionAutores {
    top: 50px;
    left: 50px;
}